{% extends "geekpoint/base.html" %}
{% load static %}

{% block title %}
    你的餐车
{% endblock %}

{% block content %}
    <h1>你的餐车</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>菜名</th>
                <th>数量</th>
                <th>删除</th>
                <th>单价</th>
                <th>总价</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with food=item.food %}
                    <tr>
                        <td>{{ food.name }}</td>
                        <td>
                            <form action="{% url 'cart:cart_add' food.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                <input type="submit" value="更新"/>
                                {% csrf_token %}
                            </form>
                        </td>
                        <td><a href="{% url 'cart:cart_remove' food.id %}">删除</a></td>
                        <td class="num">${{ item.price }}</td>
                        <td class="num">${{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>以上合计</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price }}</td>
            </tr>
            <tr class="total">
                <td>桌号</td>
                <td colspan="4"></td>
                <td class="num">{% if cart.table_no %}{{ cart.table_no }}{% else %}无桌号{% endif %}</td>
            </tr>
            <tr class="total">
                <td>备注信息</td>
                <td colspan="4"></td>
                <td class="num">{% if cart.message %}{{ cart.message }}{% else %}无备注{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'order:order_food' shop.id %}" class="buttonlight">返回继续点餐</a>
        <a href="{% url 'orders:order_create' %}" class="button">确认并下单</a>
    </p>
{% endblock %}