{% extends 'geekpoint/base.html' %}

{% block content %}

   <div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column">
            {% if x_order_list %}
			<ol>
                {% for order in x_order_list %}
				<h3>已下单订单列表</h3>
				<li>
                    单号：<strong>{{ order.order_no }}</strong>&nbsp;&nbsp;桌号：<strong>{{ order.table_no }}</strong><br/>
					总价：<strong>{{ order.total }}</strong>元<br/>
					菜品：{{ order.foods }}
                    <form method="post" action="{% url 'geekpoint:order_mark' order.id %}">
						{% csrf_token %}
						<input type="hidden" id="status" name="status" value="q"/>
						<input type="submit" value="确认"/>
					</form>
					<a href="{% url 'geekpoint:order_delete' order.id %}">删除订单</a>
                    <br/>
				</li>
				{% endfor %}
			</ol>
            {% else %}
            <p>今天已没有订单！</p>
            {% endif %}
		</div>
		<div class="col-md-4 column">
            {% if q_order_list %}
			<h3>已确认订单列表</h3>
			<ol>
                {% for order in q_order_list %}
				<li>
					单号：<strong>{{ order.order_no }}</strong>&nbsp;&nbsp;桌号：<strong>{{ order.table_no }}</strong><br/>
					总价：<strong>{{ order.total }}</strong>元<br/>
					菜品：{{ order.foods }}
					 <form method="post" action="{% url 'geekpoint:order_mark' order.id %}">
						{% csrf_token %}
						<input type="hidden" id="status" name="status" value="f"/>
						<input type="submit" value="收钱结账"/>
					</form>
				</li>
                {% endfor %}
			</ol>
            {% else %}
            <p>今天还未有确认的订单！</p>
            {% endif %}
		</div>
		<div class="col-md-4 column">
			<h3>商店：<strong>{{ shop.name }}</strong></h3>
			<ul>
				<li>
					<p><a href="{% url 'geekpoint:edit_shop' shop.pk %}">编辑商店信息</a> </p>
				</li>
				<li>
					<p><a href="{% url 'geekpoint:charge_food' shop.pk %}">本店菜单管理</a></p>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}