{% extends 'geekpoint/base.html' %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">店铺信息编辑</a></li>
            <li><a href="#">本店菜品编辑</a></li>
            <li><a href="#">本店管理员添加</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">今日订单详情</a></li>
            <li><a href="">经营情况统计</a></li>
            <li><a href="">餐桌二维码生成</a></li>
            <li><a href="">会员管理</a></li>
            <li><a href="">折扣优惠券管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          </div>
        </div>
      </div>
    </div>
{% endblock %}

