<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
     <!-- 引入jQuery -->
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
     <!-- 引入 Bootstrap -->
     <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
     <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
     <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <title>{% block title %}极客点官网{% endblock %}</title>
</head>
<body>
<!-- bootstrap 特性容器 -->
<nav class="navbar navbar-default" role="navigation" style="background-color: #080808">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'geekpoint:index' %}">极客点</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li><p class="navbar-text">欢迎你，{{ request.user.username }}</p></li>
                <li><a href="{% url 'geekpoint:logout' %}"><span class="glyphicon glyphicon-log-in"></span> 退出账号</a></li>
            {% else %}
                <li><a href="{% url 'geekpoint:register' %}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="{% url 'geekpoint:login' %}"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% if messages %}
	<div class="row clearfix">
		<div class="col-md-12 column">
            {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
		</div>
	</div>
    {% endif %}
  {% block content %}{% endblock %}
</div>